alias gs='git status'
alias gaa='git add .'
alias gc='git commit'
alias gcm='git commit -m'
alias gco='git checkout'
alias gb='git branch'
alias gbd='git branch -d'
alias glg='git lg'
alias gpot='git push origin --tags'
alias gpom="git push origin master"
alias gpomn="git push origin main"
alias gpu="git fetch && git checkout master && git pull"
alias gpod="git push origin develop"
alias gpos="git push origin staging"
alias gp="git pull"
alias gpub='gaa && gc && gpom'
alias gpus='gaa && gc && gpos'
alias gcp='git cherry-pick'
alias codes='cd ~/Codes'
alias spinetixproj='cd ~/Codes/spinetix'
alias malupetsproj='cd ~/Codes/malupets'
